.container {
  position: relative;
}

.containerWidthDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headH2 {
  color: var(--black);
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}

.topDiv {
  display: flex;
  gap: 46px;
  margin: 64px 140px -50px 180px;
}

.topDiv img {
  width: 340px;
  height: auto;
}

.topSvg {
  position: absolute;
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%;
  top: 81px;
  left: 5px;
}

.topSvgWrapper {
  position: relative;
  width: 405px;
  height: 60px;
}

.topSvgWrapper svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.innerdiv {
  display: grid;
  grid-template-columns: 17% 29% 20%;
  text-align: center;
  justify-content: center;
  grid-gap: 190px;
  margin: 93px 14px 20px 61px;
}

.innerdiv div h4 {
  color: #0072bc;
  font-weight: 600;
  font-size: 26px;
  /* margin-top: 10px; */
}

.innerdiv div p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--deepblack);
  font-size: 14px;
  /* line-height: 24px; */
  font-weight: 300;
}

.bgBlue {
  display: flex;
  justify-content: center;
  background-color: var(--deep-blue);
  padding: 5px 10px 3px 10px;
  border-radius: 50px;
  width: fit-content;
  margin: 0;
}

.icons {
  font-size: 42px;
  color: rgb(24, 175, 24);
  margin-top: -10px;
}

.innerbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.innerbox span {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  background: linear-gradient(
    184deg,
    var(--light-orange) 27.72%,
    var(--secondary-color) 80.23%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sideSvgMBL {
  display: none;
}

@media only screen and (max-width: 1381px) {
  .innerdiv div h4 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1280px) {
  .innerdiv {
    margin: 93px 0px 20px 0px;
  }

  .topSvg {
    left: -15px;
  }
}

@media only screen and (max-width: 1081px) {
  .topSvg {
    top: 90px;
    left: -7px;
  }

  .innerdiv {
    grid-template-columns: 20% 26% 21%;
  }

  .topSvgWrapper {
    width: 355px;
    height: 53px;
  }
}

@media only screen and (max-width: 1024px) {
  .topSvg {
    top: 85px;
    left: 4px;
  }

  .topSvgWrapper {
    width: 312px;
    height: 49px;
  }

  .innerdiv {
    grid-template-columns: 30% 29% 29%;
    gap: 75px;
  }
}

@media only screen and (max-width: 968px) {
  .topSvgWrapper {
    width: 289px;
    height: 45px;
  }
}

@media only screen and (max-width: 841px) {
  .topSvg {
    top: 100px;
    left: 13px;
  }
  .innerdiv div h4 {
    font-size: 19px;
  }

  .innerdiv {
    grid-template-columns: 31% 29% 27%;
    gap: 50px;
    /* margin: 93px 14px 20px 61px; */
  }

  .topSvgWrapper {
    width: 245px;
  }

  .icons {
    margin: 0;
  }
}

@media only screen and (max-width: 761px) {
  .topSvgWrapper {
    width: 205px;
    height: 50px;
  }

  .svgPathGroup path {
    stroke-width: 30;
  }

  .topSvg {
    top: 105px;
  }

  .innerdiv {
    grid-template-columns: 35% 29% 30%;
    gap: 22px;
  }
}

@media only screen and (max-width: 641px) {
  .container {
    margin-top: 50px;
  }

  .innerdiv {
    gap: 95px;
    width: 100%;
    margin-top: 38px;
    padding-left: 20px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    grid-template-columns: 90% 90% 90%;
    border-radius: 0px;
    padding-right: 20px;
    /* margin: 30px 0px; */
    display: flex;
    flex-direction: column;
  }

  .headH2 {
    text-align: center;
    /* margin: 0px 24px; */
    font-size: 30px;
  }

  /* .innerdiv div h4 {
    font-size: 26px;
    margin: 10px 0px;
  } */

  /* .innerdiv div P {
    font-size: 17px;
  } */

  .topDiv {
    display: none;
  }

  .icons {
    margin: 0;
    font-size: 34px;
  }

  .topSvg {
    display: none;
  }

  .sideSvgMBL {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }

  .gridMbl {
    display: grid;
    grid-template-columns: 6% 82%;
    /* align-items: center; */
    justify-content: center;
  }

  .gridMbl .innerdiv .innerbox {
    align-items: flex-start;
  }

  .gridMbl .innerdiv .innerbox p {
    text-align: left;
  }
}
@media only screen and (max-width: 361px) {
  .innerdiv div h4 {
    font-size: 24px;
  }

  .innerdiv div P {
    font-size: 15px;
  }
}
